.result {
  align-items: flex-end;
  background-color: grey;
  color: #ffffff;
  display: flex;
  font-size: 1.4em;
  font-weight: bold;
  height: 100px;
  justify-content: flex-end;
  margin-top: 0;
}
